{# templates/animes/animes_id.html.twig #}
{% extends 'base.html.twig'%}
{% block body %}
<body>
    <h2>{{ animes.title }}</h2>
    <div class="img_animes">
        <img src ="{{ asset('pictures/'~ animes.pictures ~'') }}" height = "350px" width="250px">
    </div>
    <div class="description">
        <p class = "p_animes">Nombres d'épisodes :</p> <p>{{ animes.episodes }}</p>
        <p class = "p_animes">Résumé :</p> <p>{{ animes.abstract }}</p>
        <p class = "p_animes">Studio d'animation :</p> <p>{{ animes.studio }}</p>
        <p class = "p_animes">Disponible chez :</p> <p>{{ animes.broadcast }}</p>
    </div>
</body>
{% endblock %}