{# templates/mangas/mangas_id.html.twig #}
{% extends 'base.html.twig'%}
{% block body %}
<body>
    <h2>{{ mangas.books }}</h2>
        <div class="img_animes">
            <img src ="{{ asset('pictures/'~ mangas.pictures ~'') }}" height = "350px" width="250px">
        </div>
        <div class="description">
            <p class = "p_animes">Résumé :</p> <p>{{ mangas.abstract }}</p>
            <p class = "p_animes">Editeur :</p> <p>{{ mangas.editor }}</p>
            <p class = "p_animes">Date de parution :<p> <p>{{ mangas.releasedate|date('d/m/Y') }}</p>
        </div>
</body>
{% endblock %}
